
<h1>Want a beep?</h1>

<table border="1">
	<thead>
		<th>frequency</th>
		<th>fs</th>
		<th>seconds</th>
		<th>amplitude</th>
		<th>phase</th>
		<th>audio</th>
	</thead>
	<tbody>
		<% @demos.each do |demo| %>
			<tr>
				<td><%= demo[:frequency] %></td>
				<td><%= demo[:fs] %></td>
				<td><%= demo[:seconds] %></td>
				<td><%= demo[:amplitude] %></td>
				<td><%= demo[:phase] %></td>
				<td>
					<audio controls >
						<source src='<%= "/sine?frequency=#{demo[:frequency]}&fs=#{demo[:fs]}&seconds=#{demo[:seconds]}&amplitude=#{demo[:amplitude]}=phase=#{demo[:phase]}" %>' />
					</audio>
				</td>
			</tr>
		<% end %>
			<tr>
				<form action='/sine' method='get'>
					<td><input type="text" name="frequency" value='440'></td>
					<td><input type="text" name="fs" value='8000'></td>
					<td><input type="text" name="seconds" value='1'></td>
					<td><input type="text" name="amplitude" value='0.75'></td>
					<td><input type="text" name="phase" value='0'></td>
					<td><input type="submit"></td>
				</form>
			</tr>
	</tbody>
</table>


